<div class="form-group has-feedback" ng-class="{'has-error': (formUser.txtName.$touched || formUser.$submitted) && formUser.txtName.$invalid}">
    <label class="control-label col-sm-2" for="">Nombre</label>
    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" name="txtName" ng-model="userModel.name" ng-disabled="disabled"
                ng-required="true" required="true" maxlength="10" autofocus="true">
        </div>
        <span ng-show="(formUser.txtName.$touched || formUser.$submitted) && formUser.txtName.$invalid" 
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <div class="help-block text-danger" ng-messages="formUser.txtName.$error" ng-if="formUser.txtName.$touched || formUser.$submitted">
            <span class="am-fade-and-scale" ng-message="required">Campo obligatorio.</span>
            <span class="am-fade-and-scale" ng-message="maxlength">Demasiados carácteres</span>
        </div>
    </div>
</div>

<div class="form-group has-feedback" ng-class="{'has-error': (formUser.txtEmail.$touched || formUser.$submitted) && formUser.txtEmail.$invalid}">
    <label class="control-label col-sm-2" for="">Email</label>
    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" name="txtEmail" ng-model="userModel.email" ng-disabled="disabled"
                ng-required="true" required="true" maxlength="15">
        </div>
        <span ng-show="(formUser.txtEmail.$touched || formUser.$submitted)&& formUser.txtEmail.$invalid" 
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <div class="help-block text-danger" ng-messages="formUser.txtEmail.$error" ng-if="formUser.txtEmail.$touched || formUser.$submitted">
            <span class="am-fade-and-scale" ng-message="required">Campo obligatorio.</span>
            <span class="am-fade-and-scale" ng-message="email">Email inválido.</span>
            <span class="am-fade-and-scale" ng-message="maxlength">Demasiados carácteres</span>
        </div>
    </div>
</div>