<div class="row">
    <div class="col-md-12">
        <h1 id="seccion_title">Usuarios</h1>
    </div>
</div>

<p><button type="button" class="btn btn-success" ng-click="create()">Nuevo</button></p>

<script type="text/ng-template" id="userFormModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">Usuario</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="formUser" novalidate="" ng-submit="submitForm()">
            
            <ng-include src="'views/user/fields.html'"></ng-include>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit" ng-hide="disabled" id="btnSave">Guardar</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>

<div class="row" ng-include="'views/user/table.html'"></div>