<div class="col-md-12">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Email</th>
                <th class="text-center">Ver</th>
                <th class="text-center">Actualizar</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" class="text-center am-fade-and-scale" ng-show="users.length == 0">
                    No se encontraron datos disponibles
                </td>
            </tr>
            <tr ng-repeat="user in users" class="am-fade-and-scale" ng-show="users.length != 0">
                <td class="text-center">{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td class="text-center">
                    <a href="" ng-click="show(user, $event)">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" ng-click="edit(user, $event)">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" ng-click="delete(user, $event)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12 text-center">
    <uib-pagination 
        boundary-links = "true" 
        max-size = "10"
        force-ellipses = "true"
        total-items = "pagination.total" 
        items-per-page = "pagination.per_page"
        ng-model = "pagination.current_page" 
        previous-text = "&lsaquo;" 
        next-text = "&rsaquo;" 
        first-text = "Primero" 
        last-text = "Último"
        ng-change = "pageChanged()">
    </uib-pagination>
</div>